page-detalhe { 
    .tituloPage{
        margin-left: 10vw;  
        width: 50vw;
    } 
    .refresh{ 
        font-size: 10vw;
        color: white;
        margin-right:2vw;
    } 
    .card{
        background-color: #135F8C;  
        color: white;
    }
    .redcard{
        background-color: #135F8C;  
        color: white;
    }
    .titulo{
        font-weight: bold;
        color: white; 
    }
    .conteudo{ 
        color: white; 
    }
}
