page-subprecos {
    .titulo{ 
        margin-left: 10vw;  
        width: 50vw;
    }  
    .inputs{
        color:#306B98;        
        font-weight: bolder;
        white-space: normal;
    }  
    ion-list{
        width:96.6vw;
    }
    ion-textarea {  
        margin-left:2vw;
    }
    .observacao{
        color:#306B98;        
        font-weight: bolder;
        margin-left:3vw;
    }
}
