page-clientes {
    ion-card{  
        width: 100vw;
        font-weight: bold;  
    }
    ion-card-header{
        white-space: normal;
    }
    .cod{ 
        float: right;
    }

    .refresh{ 
        font-size: 10vw;
        color: white;
        margin-right:2vw;
    }
    .redcard{
        background-color: red; 
        font-weight: bold;
        color: white;
    }

    .search{
       position: fixed;
       background: #FFFFFF;
       width: 100%;
    }

}
